* {
  box-sizing: border-box;
}

.container {
  margin: 40px auto;
  padding: 40px;
  border: 1px solid;
  max-width: 500px;
}

ul, li {
  padding: 0;
  margin: 0;
}

.list-key-component li {
  list-style: none;
  border-bottom: 1px solid red;
  padding: 10px;
}

.list-key-component li:last-child {
  border-bottom: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 20px;
  padding: 10px;
}

.form button {
  padding: 15px;

}